* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../images/background.jpeg");
    color: wheat;
    direction: ltr;
}

#ulNavBar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 250%;
    margin-bottom: 5%;
    font-family: 'Titan One', cursive;
    ;
}

.classNav:hover {
    font-size: 120%;
    transition-duration: 1s;
}

a {
    text-decoration: none;
}

#FooterId {
    /* position: fixed; */
    width: 100vw;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 3px;
    /* background-color: wheat !important; */
    color: white;
}

#divOfInfo {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
}

.cardClass {
    border: 1px solid wheat;
    flex-direction: column;
    width: 30%;
    height: 10%;
    margin: 1%;
    padding: 0.5%;
}

#imgOfInfo {
    width: 100%;
    height: 300px;
    /* border-radius: 10%; */
}

.nameTitle {
    font-weight: bold;
    font-size: 35px;

}

#NameSelectValue, #RatingSelectValue, #addLatelySelectValue {
    display: flex;
    /* flex-direction: row; */
}

.lineTD {
    /* border: 2px solid wheat; */
}

#divOfNavImage {
    display: flex;
    justify-content: space-between;
}

#indiImage {
    width: 90px;
    height: 70px;
    border-radius: 10%;
}

#techImage {
    width: 90px;
    height: 70px;
    border-radius: 10px;
}

.footerImg {
    width: 60px;
    height: 50px;
    border-radius: 10%;
}

#inputOfSearch {
    width: 30%;
    padding: 10px;
    border: 4px solid rgb(241, 184, 76);
    border-radius: 10%;
}

#divOfinputAndSearch {
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    align-items: center;
}

#selectOption, #buttonOfSort {
    width: 30%;
    padding: 10px;
    border: 2px solid wheat;
}

.tableID {
    width: 100% !important;
    font-family: 'Nixie One', cursive;
}

#TR_firstLineOfTable {
    width: 12%;
    font-family: 'Nixie One', cursive;
    /* /* border: 2px solid wheat; */
    font-size: 20px;
}

#paraOfIntro {
    width: 90%;
    font-family: 'Kurale', serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#divOfIntro {
    display: flex;
    justify-content: center;
    padding: 5%;
}

#divImageOnHomePage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

#newwestMovieTitle {
    font-family: 'Kurale', serif;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    padding: 2%;
}

.divOfImageShow {
    position: relative;
    max-width: 500px;
}

.divOfImageShow img {
    width: 100%;
    width: 300px;
    height: 300px;
    /* border: 2px solid white; } */
    border-radius: 15%;
}

.hoverCap {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    /* (C2) BOTTOM */
    position: absolute;
    bottom: 0;
    /* (C3) COLORS */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.hoverCap {
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 35px;
}

.divOfImageShow:hover .hoverCap {
    visibility: visible;
    opacity: 1;
    box-shadow: 3px 3px 5px 6px #ccce;
    text-align: center;
    border-radius: 15%;
}

/* table scc */

#container {
    width: 100%;
    height: 100%;
}

.headerTH {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

#tableID, #TR_firstLineOfTable {
    width: 100%;
}

.tdClass {
    text-align: center;
    border: 3px solid wheat;
}

.tdClassHader {
    font-weight: bold;
    font-size: 20px;
}

.buttonStyleCard {
    font-size: 25px;
    padding: 1%;
    text-align: center;
width: 100%;
}

.buttonStyleCard:hover {
    transition: ease-in-out;
    color: blue;
    font-size: 28px;
}

#ratingNumber{
    font-size: 30px;
    text-align: center;
}

span{
    font-size: 70px;
    color:red;
}

#sendEditButton{
    font-size: 30px;
    color: wheat;
    font-weight: bold;
}